*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .main-track{
border: 2px solid red;
background-color: hsl(226, 43%, 10%);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
padding: 10rem;
gap: 1.5rem;
} */

.main-track{
  /* border: 2px solid red; */
  background-color: hsl(226, 43%, 10%);
  height: 100vh;
  display: grid;
  grid-template-columns: 1.1fr 4fr;
  gap: 2rem;
  justify-content: center;
  align-content: center;

  padding: 10rem;
}

.tracker-container{
  
  /* border: 2px solid green; */
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-content: space-between;
}
